        header{
            text-align: center;
            
        }
        body{
            background-color: darkkhaki;
        }
        a{
            text-decoration: none;
        }
        h1{
            font-family: fantasy, sans-serif;
        }
        img{
            background-color: black;
            padding: 10px;
        }
        .par{
            color: aliceblue;
        }
           
        li{
            margin: 5px;
        
        }
    